@import "../../assets/scss/mixin";

.modalTrailer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;

    .modalContainer {
        position: relative;
        width: 960px;
        height: 540px;
        background: $background-secondary;
        border: 1px solid var(--content-disabled);
        cursor: pointer;
        // .iframe {
        //     // width: 100%;
        //     // height: 100%;
        //     width: 960px;
        //     height: 540px;
        // }
        transition: opacity 0.3s ease;
        &:hover,
        &:active {
            .play,
            .titleBlock {
                opacity: 1;
                // @include mw1024 {
                //     opacity: 0;
                // }
            }
        }
    }
    .close {
        cursor: pointer;
        position: absolute;
        padding: 12px;
        border-radius: 100%;
        background: $background-white;
        top: 0;
        right: -8%;
        display: flex;
        align-items: center;

        & svg {
            width: 24px;
            height: 24px;
            path {
                fill: $background-black;
            }
        }
        @include mw1024 {
            right: 0;
        }
    }
    .over {
        // opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background: rgba(0, 0, 0, 0.5);
        // display: flex;
        // align-items: center;
        // justify-content: center;
    }
    .play {
        opacity: 0;
        // cursor: pointer;
        padding: 20px;
        border-radius: 100%;
        background: $content-primary;
        transition: background 0.3s ease;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        & svg {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            path {
                fill: $content-black;
            }
        }

        &:hover {
            background: $content-secondary;
        }

   
    }

    .playing {
        & svg {
            padding-left: 10px;
        }
    }

    .titleBlock {
        @include Play-700;
        opacity: 0;
        font-size: 24px;
        line-height: 133%;
        color: $content-primary;
        position: absolute;
        bottom: 20px;
        left: 20px;
        background: rgba(10, 11, 11, 0.5);
        // margin-top: auto;
        width: calc(100% - 40px);
        padding: 40px 20px;
    }

    .loading {
        opacity: 1;
        animation: loading 1s linear infinite;
    }

    @keyframes loading {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @include mw1024 {
        background: $content-black;
        @media (orientation: landscape) {
            .modalContainer {
                min-height: 100%;
                width: calc(100% - 140px);
            }
            .titleBlock {
                font-size: 18px;
                width: 100%;
                bottom: 55px;
                left: 0;
            }
            .close{
                top: 12%;
                right: -8%;
            }
        }
        @media (orientation: portrait) {
            .over {
                bottom: -100px;
                height: calc(100% + 100px);
            }
            .modalContainer {
                width: 100%;
                min-height: 212px;
                // height: 100%;
            }
            .titleBlock {
                background: rgba(10, 11, 11, 0.5);
                font-size: 18px;
                width: 100%;
                left: 0;
                bottom: 0;
                z-index: 10000;
            }
            .play {
                top: calc(50% - 100px);
                transform: translate(-50%, 0);
            }
        }
    }
}
