@import "../../../../../assets/scss/mixin";

.searchBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex: 1;
    @include mw1024 {
        flex-direction: column;
        align-items: flex-start;
    }
    .img {
        flex: 1;
        width: 40px;
        height: 52px;
        object-fit: contain;
        @include mw1024 {
            width: 158px;
            height: 206px;
        }
    }

    .descript {
        flex: 10;
        display: flex;
        flex-direction: column;
        gap: 8px;
        @include mw1024 {
            align-items: flex-start;
            flex-wrap: wrap;
        }
    }

    .information {
        display: flex;
        flex-direction: row;
        gap: 12px;
        & span {
            font-size: 14px;
            line-height: 143%;
            color: $content-secondary;
        }
    }

    .title {
        @include Play-700;
    }
}
